# Miscellaneous
*.class
*.log
*.pyc
*.swp
.codex*
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
tmp_request_blocker_snapshot.txt
NUL

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
node_modules/
functions/lib/
artifacts/
tools/go_play_admin_gui/.venv/
tools/go_play_admin_gui/go_play_admin/__pycache__/
tools/go_play_admin_gui/go-play-*-firebase-adminsdk-*.json
.env

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/rust/adblock_jni/target/
